.books-display {
  width: 90%;
  padding: 0;
}

.books-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

.form-input-main-container {
  margin-top: 50px;
}
